aiofiles
aiohttp
aiomysql
aiosqlite
anyio
argon2-cffi
async-timeout
asyncpg
beautifulsoup4
blinker
boto3
botocore
cachecontrol
databases
fastapi
gunicorn
httpx
itsdangerous
jinja2
markupsafe
pydantic
requests
requests-async
requests-oauthlib
starlette
urllib3
uvicorn
websockets
werkzeug
firebase-admin
pydantic_settings
pydantic[email]
passlib
python-multipart
payos
redis
firebase_admin